.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  padding: 20px;
  margin: 5px;
  background-color: #6a6ad2;
  display: flex;
  justify-content: space-between;
}
.shop {
  color: black;
  font-size: 30px;
  margin-left: 20px;
}
.rig {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  color: #ef8dc2;
  font-size: 20px;
  margin-right: 30px;
}
.add {
  color: #06e906;
  font-size: 20px;
  margin-right: 30px;
}
.product_div {
  width: 155px;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  background-color: plum;
  text-align: center;
}
.price_color {
  color: #3bb525;
  font-size: 25px;
}
